.card:hover {
    /* width: 110%;
    height: 110%; */
    transform: scale(1.1);
}

.card{
    /* transition: width 600s, height 7s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
    transition: 300ms linear;
}